name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: "3 3 * * 2" # 3:03 AM, every Tuesday

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    name: ${{ matrix.platform }} (Swift ${{ matrix.swift }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        platform:
          - iOS
          - macOS
          - tvOS
          - watchOS
        swift:
          - "6.0"
          - "6.1"
          - "6.2"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Disable Macro Fingerprint Validation
        run: |
          defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
          defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES

      - name: Select Xcode version
        uses: mxcl/xcodebuild@v3
        with:
          swift: ~${{ matrix.swift }}
          action: none

      - name: List Runtimes
        run: xcrun simctl list runtimes

      - if: matrix.platform != 'macOS'
        name: Download Required Runtimes
        run: xcodebuild -downloadPlatform ${{ matrix.platform }}

      - name: Test Library
        uses: mxcl/xcodebuild@v3
        with:
          swift: ~${{ matrix.swift }}
          action: ${{ matrix.action }}
          platform: ${{ matrix.platform }}
          scheme: Period

  linux:
    name: Linux (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        swift:
          - "6.0"
          - "6.1"
          - "6.2"
    container:
      image: swift:${{ matrix.swift }}
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Test Library
        run: swift test

  android:
    name: Android (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - "6.0"
          - "6.1"
          - "6.2"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Build and Test Library
        uses: skiptools/swift-android-action@v2
        with:
          swift-version: ${{ matrix.swift }}
          free-disk-space: true
